*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background:hsl(212, 23%, 69%);
}

.container{
    margin: 200px;
    }

    .article-main{
        background: hsl(210, 46%, 95%);
        display: flex;
        border-radius: 10px;
    }

    .article_image img{
        padding: 2px;
        width: 110%;
        overflow: hidden;
    }